body{
    font-family: Arial, Helvetica, sans-serif;
        text-align: center;
       
    }
    
    .container{
      
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        
    }
    
    #headline{
        display: inline-block;
        position: absolute;
        font-size: 15px;
        font-weight: bolder;
        text-align: left;
        margin-top: 260px;
        margin-left: 215px;
        transform: translate(-50%, -50%);
        color: whitesmoke;
    }
    
    #text{
        display: inline-block;
        position: absolute;
        font-size: 15px;
        font-weight: normal;
        text-align: left;
        margin-top: 430px;
        margin-left: 135px;
        transform: translate(-50%, -50%);
        color: whitesmoke;
    }
    
    img[alt=Pinguin]{
            display: inline-block;
            position: absolute;
            margin-left: 270px;
            margin-top: 500px;
    }
    
    img[alt=Muscheln]{
        display: inline-block;
        position: absolute;
        margin-left: -240px;
        margin-top: 560px;
    }