body{
    font-family: Bahnschrift Light;
        text-align: center;
        background-image: url(bg.png);
        
    }

.container{
  
    position: relative; absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    
    }

    #headline{
        display: inline-block;
        position: absolute;
        font-size: 15px;
        font-weight: bolder;
        text-align: left;
        margin-top: 260px;
        margin-left: 85px;
        transform: translate(-50%, -50%);
        color: white;
    }

img[alt=Muschel1]{
    display: inline-block;
    position: absolute;
    margin-top: 500px;
    margin-left: -140px;
    transform: translate(-50%, -50%);
    }

img[alt=Muschel2]{
    display: inline-block;
    position: absolute;
    margin-top: 470px;
    margin-left: 30px;
    transform: translate(-50%, -50%);
    }

img[alt=Muschel3]{
    display: inline-block;
    position: absolute;
    margin-top: 500px;
    margin-left: 200px;
    transform: translate(-50%, -50%);
    }  

    .Muscheln2{
        opacity: 0;
    }

    .Muscheln:hover{
        opacity: 0;
    }

    .Muscheln2:hover{
        opacity: 1;
    }